@use "../../Variables.scss" as *;

.task-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
    padding: 5px;
    border: 2px solid $color-light-blue;;
    border-radius: 5px;
    width: fit-content;

    .completed{
        text-decoration:line-through;
        color: gray;
    }

    &__checkbox{
        margin: 5px;
    }

    &__task{
        margin: 5px;
    }

    &__date{
        font-size: 0.8rem;
    }

    &__bin{
        padding: 4px 10px;
        margin-left: auto;
        outline: none;
        border: none;
        background-color:$color-dark-blue;
        transition: transform 0.3s ease;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}