@use "../../Variables.scss" as *;

.reset-button{
    margin: 10px;
    background: none;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: $color-dark-blue;
    transition: transform 0.3s ease;

    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}