@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

$font-main: "Rubik Doodle Shadow", "sans-serif";

$color-white: #ececec;
$color-light-blue: #9fd3c7;
$color-blue: #385170; ;
$color-dark-blue: #142d4c; ;


.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
}